* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
    
}

.container {
    width: min(90%, 1200px);
    display: flex;
    min-width: 800px;
    margin:0 auto; 
   
}

.left-container{
    
    background-image: url("./image/background.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 36%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}


.logo {
    height: 30px;
    position: absolute;
    width: 100%;
    height: 120px;
    background: black;
    opacity: 0.6;
    color: white;
    top:20%;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse';

} 

.logo img {
    height: 95px;
    width: 70px;
}

.logo h1 {
    padding-top: 15px;
}

.left-container p {
    color: white;
    position: absolute;
    bottom: 1%;   
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 74%;
    min-width: 600px;
}

.right-container h3, .right-container form, .right-container p, .right-container button {
    margin-left: 20px;
   
}

.right-container-top h3 {
    padding-right: 90px;
}

.right-container-top :last-child {
    padding-top: 20px;
}

.right-container-top {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: end;
    background-color: #f7f8f8;
    line-height: 1.3;
    padding-bottom: 8%;
    
}

.right-container-middle {
    padding-top: 2%;
    height: 30%;
    background-color: white;
}

.right-container-middle h3 {
    margin-bottom: 4%;
}
form{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}

form div {
    
    
    width: 200px;
    margin-right: 90px;
    margin-bottom: 20px;
    
}

.form-group {
    font-family: sans-serif;
    font-size: .7em;
    font-weight: 600;
    letter-spacing: 0.12em;
    color: grey;
}

.form-group input[type="password"]:invalid {
    border: 1px solid red;
    
}


.form-group input {
    width: 230px;
    height: 25px;
    border: 1px solid #E5E7EB;
    outline: none;
    border-radius: 4px;
}

.form-group input:focus {
    border: 2px solid #4e8ea9;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.6);
}

.right-container-bottom {
    height: 35%;
    background-color: #f7f8f8;
    box-shadow: inset 0px 8px 12px -10px rgba(0, 0, 0, 0.6);
}

.right-container-bottom button {
    background-color: #4e8ea9;
    border-radius: .5em;
    padding: 8px 30px;
    color: white;
    border: none;
    margin-top: 4%;
    margin-bottom: 4%;
    
} 

.right-container-bottom span {
    color: #4e8ea9;
}